{{#extends "base"}}

{{#block "content"}}
<h1>Delete User</h1>
<form method = "POST">
     <div class = "alert alert-dander">
       Are you sure you want to delete  user {{user.name}}
        
     </div>
     <div>
        <input type="submit" value="Confirm" class="btn btn-danger mt-3"/>
        <a href="/Users" class="btn btn-success mt-3">Cancel</a>


     </div>
</form>
{{/block}}

{{/extends}}